.topRatedMoviesList {
  display: flex;
  overflow-x: scroll;
  width: 100%;
  padding-bottom: 100px;
  scrollbar-width: inherit;
}

.topRatedMoviesTitle {
  margin-bottom: 20px;
}

.slickSlide {
  width: 82%;
}

.popularMovies {
  margin-top: 20px;
  margin-right: 70px;
}

.popularMoviesBlock {
  display: flex;
  gap: 20px;
  overflow-x: scroll;
}
