.topRatedMoviesList {
  display: flex;
  overflow-x: scroll;
  width: 100%;
  padding-bottom: 100px;
  scrollbar-width: inherit;
}

.topRatedMoviesTitle {
  margin-bottom: 20px;
}

.slickSlide {
  width: 303px;
}
